@model env_analysis_project.Models.MeasurementResult

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MeasurementResult</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmissionSource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmissionSource.SourceCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parameter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parameter.ParameterCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeasurementDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeasurementDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsApproved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsApproved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApprovedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ResultID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
